#container {margin-top:80px; margin-bottom:50px;}
.contents
.text_bold {font-weight:bold; color:#df9d1d;}
.sub_title {font-family:'Nunito Sans', sans-serif; color:#fbeb19;}
iframe {margin-top:20px;}
audio {margin-bottom:20px;}
.section_span {margin-bottom:50px;}
.trailer {margin-bottom:50px;}
hr.line {margin-top:50px;}
hr.line_text {margin-top:50px; margin-bottom:50px;}

img.radius_img {border-radius:30px;}

.section_cast {width:100%; display:inline-block; margin-bottom:50px;}
.section_cast ul {width:50%; float:left;}
.cast_img img {width:300px;}
.cast_name {color:#006ab6; font-size:1.3em; margin-top:10px; font-weight:bold; letter-spacing:3px;}
.cast_actor {margin-top:10px;}
.cast_cap {font-family:'Noto Sans KR', sans-serif; font-size:0.8em; color:#9f9f9f;}

.section_poster {width:100%;}
.poster_element {border:solid 1px #d0d0d0; border-radius:0px; float:left; width:250px; margin:7px; line-height:1em;}
.poster_element img {width:100%; height:auto;}
.poster_text {padding:10px;}

.still_element {border:solid 1px #d0d0d0; border-radius:0px; float:left; width:385px; margin:5px; line-height:1em;}
.still_element img {width:100%; height:250px;}

.scene_video {margin:10px;}
.scene_text3 {margin-bottom:50px;}

#footer {}
