body {font-family:'Noto Sans KR', sans-serif; font-family:'Nunito Sans', sans-serif; serif;
      width:100%; margin:0 auto; padding:0; display:inline-block; overflow-x:hidden; background-color:#fff; text-align:center;
      color:#656565;}
a, a:link, a:visited {color:#656565; text-decoration:none;}
a:hover {color:#fbeb19; text-decoration:none;}
ol, ul, li {margin:0; padding:0; list-style:none;}


#header {margin:0; padding:0;}
/*nav*/
.nav {width:100%; height:40px; position:fixed;}
.nav_left {float:left; width:600px; height:40px; margin:20px auto; left:5%;}
.menu {height:40px; position:relative; color:#c2c2c2; font-family:'Nunito Sans', sans-serif;}
.menu .main_menu_text:hover, .sub_menu_text:hover {color:#fbeb19; letter-spacing:3px;}
.menu .sub_menu_text {font-size:0.9em;}
.menu:after {display:block; clear:both;}
.menu .main_menu, .sub_menu {text-transform:uppercase;}
.menu .main_menu {font-size:0.9em; float:left; width:20%; height:30px; margin:0 auto; text-align:center; line-height:30px;}
.menu .main_menu span {display:block;}
.menu .main_menu span:hover~.sub_menu {display:block;}
.sub_menu {display:none; position:absolute; top:30px; width:20%; color:#fff; background:#fff; border-radius:10px;}
.sub_menu:hover {display:block;}
a, a:hover, a:active, .main_menu_text:hover, .main_menu_text:active {transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
a.main_menu_text:link, a.main_menu_text:visited {color:#c2c2c2; text-decoration:none;}
a.main_menu_text:hover {color:#fbeb19; text-decoration:none;}
a.menu_text:link, a.menu_text:visited {color:#b0aea8; text-decoration:none;}
a.menu_text:hover {color:#fbeb19; text-decoration:none;}
.nav_right {float:right; width:200px; height:40px; right:5%;}
.nav_right .nav_right_ul li {float:right; height:40px; margin:8px; line-height:40px;}
.nav_right img {width:35px;}
/*main*/
.main {background-color:#006ab6; margin:0; padding:0;}


#container {width:800px; margin-bottom:50px; margin:0 left; display:inline-block; text-align:center;}
.title {font-family:'Nunito Sans', sans-serif; color:#fbeb19; letter-spacing:3px; text-transform:uppercase;}
.text {font-family:'Noto Sans KR', sans-serif; font-size:0.8em; line-height:1.7em; font-weight:400;}
hr {border:0.5px solid #e3e3e3;}
/*section_text*/
.section_text {font-family:'Sumana', serif; font-size:2em; font-weight:bold; color:#505050; margin-top:80px; margin-bottom:80px;}
/*section_profile*/
.section_profile {width:100%; display:inline-block; margin-top:80px; margin-bottom:80px;}
.section_profile ul {width:50%; float:left;}
.profile_img img {width:300px;}
.profile_name {color:#006ab6; font-size:1.3em; margin-top:10px; font-weight:bold; letter-spacing:3px;}
.profile_actor {margin-top:10px;}
/*section_trailer*/
.section_trailer {margin-top:80px; margin-bottom:80px;}
/*section_sitemap*/
table {margin:0 left; margin-top:80px; margin-bottom:80px; display:inline-block; border:none; font-size:14px; padding:0px; line-height:12px; vertical-align:middle;}
td {padding:10px; padding-left:50px; padding-right:50px;}
.sitemap_title {font-weight:bold; font-size:1.1em;}
.sitemap_element {font-family:"Noto Sans KR", sans-serif; letter-spacing:1px; font-size:1em;}


#footer {width:100%; height:50px; margin-bottom:70px; text-align:center; vertical-align:middle;}
.top_btn {font-weight:bold;}
.copy {font-family:'Noto Sans KR', sans-serif; margin-top:10px; color:#b3b3b3; font-size:0.7em;}


/*drag*/
::selection {color:transparent; text-shadow:0 0 2px #747474; transition:all 250ms ease-in;}
::-moz-selection {color:transparent; text-shadow:0 0 2px #747474; transition:all 250ms ease-in;}
/*scrollbar*/
::-webkit-scrollbar {width:5px;}
::-webkit-scrollbar-track {-webkit-border-radius:0; border-radius:0; background:none;}
::-webkit-scrollbar-thumb {background-color:#fbeb19;}
::-webkit-scrollbar-thumb:hover {background-color:#fbeb19;}
